@import "bootstrap";
@import "simple_calendar";

.simple-calender {
    .day {}
  
    .wday-0 {}
    .wday-1 {}
    .wday-2 {}
    .wday-3 {}
    .wday-4 {}
    .wday-5 {}
    .wday-6 {}
   
    .past {}
    .today {}
    .future {}
  
    .start-date {}
  
    .prev-month {}
    .next-month { }
    .current-month {}
  
    .has-events {}
  } 


  #my-modal{
    position: fixed;
    z-index: 1;
    padding: 2em;
    
    /* Centering */
    background-color: rgb(255, 255, 255);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    overflow: auto;
 
    border-radius: 5px;
    /* Add the drop shadow */
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2), 0 5px 10px 0 rgba(0,0,0,0.19);
}

