<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<%= link_to "Calendar App", calender_index_path, class: "nav-link", style: "font-size: 18px; font-weight: bold;" %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
   
      <li class="nav-item">
        <a class="nav-link" href=tasks>Tasks</a>
      </li>
      <li class="nav-item">
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
    
   
    </ul>
  </div>
</nav>